:root {
  /* --first-color: #ececec; */
  --main-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #2196f3;
  --fourth-color: #757575;
  --fifth-color: #000000;
  --sixth-color: rgba(255, 255, 255, 0.6);
  --seventh-color: #f5f4fa;
  --icon-color: #afb1b8;
  --fill: #2f303a;
}
/* Головний фон сторінки */
body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Фон секції "Наша команда" */
.team-section {
  background-color: var(--seventh-color);
}
/* Відключення символу списку  */

/* Ефект поточної сторінки */
.site-nav .link.current {
  color: var(--third-color);
}

/* Ефект "підкреслювання" поточної сторінки у навігації */
.current-list {
  position: relative;
}

.link.current.main::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 45px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--third-color);
}

.link.current.secondary::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 45px;
  width: 76px;
  height: 4px;
  border-radius: 2px;
  background: var(--third-color);
}

/* Форматування тексту в хедері */
.site-nav,
.main-addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
/* Секція хедер */
.header-section .logo {
  margin-right: 93px;
  color: var(--fifth-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-section {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-section .web {
  color: var(--third-color);
}
.site-nav .link {
  color: var(--secondary-color);
  transition: 250ms;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--third-color);
}

.header-section .container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav > li,
.main-addres > a:not(:last-child) {
  margin-right: 50px;
}
/* Стилізація фрагменту емейл и телефон */
.main-addres .mail,
.main-addres .tel {
  transition: 250ms;
  color: var(--fourth-color);
}

.main-addres {
  margin-left: auto;
}

/* Ефект ховера і фокуса в посилання на адреси (секції хедер і футер*/

.main-addres .mail:hover,
.main-addres .mail:focus,
.main-addres .tel:hover,
.main-addres .tel:focus,
.footer .mail:hover,
.footer .mail:focus,
.footer .tel:hover,
.footer .tel:focus {
  color: var(--third-color);
}

/* Іконки в хедері*/

.main-addres .mail {
  color: var(--fourth-color);
}
.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}

/* Іконки в "Нащі переваги" */
.icon-worklist {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

/* Секція герой */
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
.hero .title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* Модалка в сеції герой */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-color);
  cursor: pointer;
}

.modal-close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon {
  fill: var(--third-color);
}
/* Кнопки*/

.button.studya {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  background-color: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button.portfolio {
  padding: 6px 22px;
  border: none;
  background-color: var(--seventh-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  transform: scaleY(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.portfolio:hover,
.button.portfolio:focus {
  background-color: var(--third-color);
  color: var(--main-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scaleY(1.2);
}

/* Секції "Особливості", "Чем мы занимаемся", "Наша команда"*/
.work-list {
  padding-top: 94px;
}
.work-list .container > ul {
  display: flex;
}

.work-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.work-list .list {
  width: 270px;
  margin-right: 0px;
}

.activity-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity-section .title,
.team-section .name,
.client-section .name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-section .name {
  margin-bottom: 50px;
}
/* Сеція "Чим ми займаємося */

.activity-list .list {
  position: relative;
}
.activity-description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-color);
}

.activity-section .title {
  margin-bottom: 50px;
}
.activity-list {
  display: flex;
}
.activity-list .list:not(:last-child) {
  margin-right: 30px;
}

.work-list .list:not(:last-child) {
  margin-right: 30px;
}

/* Група іконок "Наша команда */
.icon-team {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.icon-list:hover,
.icon-list:focus,
.icon-site:hover,
.icon-site:focus {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--main-color);
  transform: scale(1.15);
}

.icon-list:not(:last-child) {
  margin-right: 10px;
}

.icon-site {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section .list:not(:last-child) {
  margin-right: 30px;
}
.team-section .list {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section .title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-section .main {
  display: flex;
}
.team-text {
  padding-top: 30px;
}

.team-section .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-list .title,
.activity-section,
.team-section .title,
.portfolio-section .title {
  color: var(--secondary-color);
}
.work-list .description,
.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work-list .description,
.team-section .description,
.portfolio-section .description {
  color: var(--fourth-color);
}
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-section .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .list:not(:last-child) {
  margin-right: 8px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.portfolio-section {
  padding-top: 94px;
}

.portfolio-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-section .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.portfolio-list .iteam {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  overflow: hidden;
}
/* Оверлей на карточках сторінки Портфоліо" */
.overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  display: inline-block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iteam .text {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.iteam:hover,
.iteam:hover .text-overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transform: translateY(0);
}

.portfolio-list .description {
  margin-top: 4px;
}
/* Секція "Клієнти" */
.client-section {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: var(--main-color);
}
.client-section .item {
  display: flex;
  padding-top: 50px;
}
.icon-client {
  fill: var(--icon-color);
}

.client-section .list:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus,
.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--third-color);
  border-color: var(--third-color);
  transform: scale(1.25);
}

/* Футер */
.footer-main .web {
  color: var(--third-color);
}
.footer-main .logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-main .logo,
.footer .addres {
  display: block;
  color: var(--main-color);
}
.footer {
  font-style: normal;
}

.footer-main .logo {
  margin-bottom: 20px;
}

.footer .mail,
.footer .tel {
  display: block;
  color: var(--sixth-color);
  transition: 250ms;
}
.footer .addres {
  margin-bottom: 9px;
}
.footer .mail {
  margin-bottom: 9px;
}
.footer-main {
  background-color: var(--fill);
  padding-top: 60px;
  padding-bottom: 60px;
}

.join-section .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

/* Футер - Присоединяйтесь */
.icon-join {
  display: flex;
  justify-content: center;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--main-color);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-join-list:not(:last-child) {
  margin-right: 10px;
}
.icon-footer:hover,
.icon-footer:focus {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--main-color);
  transform: scale(1.25);
}
.footer-content {
  display: flex;
}
.join-section {
  margin-top: 12px;
  margin-left: 70px;
}
/* Форма модалки */

.form-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  position: relative;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--fourth-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-area:focus {
  border: 1px solid var(--third-color);
}

.form-input:focus ~ .icon-form-svg {
  fill: var(--third-color);
}

.form-area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-area::placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 7px;
}

.policy-link {
  margin-left: 5px;
  color: var(--third-color);
  text-decoration: underline;
}

.policy-label {
  font-size: 14px;
  line-height: 1.7;
  color: var(--fourth-color);
}

.icon-form {
  position: relative;
}

.icon-form-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.policy-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--secondary-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-input:checked + .policy-label::before {
  border: 2px solid var(--third-color);
  border-color: var(--third-color);
  background-color: var(--third-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.button-submit {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: none;
  background-color: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Подпишитесь на рассылку */
.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  border: none;
  background-color: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe {
  margin-top: 12px;
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sibscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  margin-right: 15px;
  color: var(--main-color);
  background-color: var(--fill);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  margin-left: 10px;
}
